/*
 * Empty Stylesheet file.
 */



.custom-button {
    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;

}

.custom-button:hover {

    -fx-padding: 8 15 15 15;
      -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;

      -fx-pref-height:60;
       -fx-background-color:
        #000000,
        linear-gradient(#7448ea, #9f439f),
        linear-gradient(#6999b7, #963595),
        linear-gradient(#3999ab, #923898);
       
       




}

.button{
     -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    /*-fx-background-insets: 0,1,2,3;*/
    -fx-background-radius: 3,2,2,2;
    /*-fx-padding: 12 30 12 30;*/
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-background-radius: 30;
    /*-fx-background-insets: 0,1,2,3,0;*/
}
.button:hover{
       -fx-padding: 8 15 15 15;
      -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;

      -fx-pref-height:60;
       -fx-background-color:
        #000000,
        linear-gradient(#7448ea, #9f439f),
        linear-gradient(#6999b7, #963595),
        linear-gradient(#3999ab, #923898);
       
       
}

